:root {
  --color-space: rgb(20, 20, 50);
  --color-bg: rgba(250, 250, 250, 0.1);
  --color-fore: rgb(250, 250, 250);
  --color-grey: rgb(100, 100, 120);
}

html {
  height: 100%;
  width: 100%;
  background: url('/Dover-Skills-USA/assets.dev/space_bg.webp') var(--color-space) no-repeat center center fixed;
  background-position: top;
  background-attachment: fixed;
  font: 18px arial, helvetica, sans-serif;

  &.inactive {
    overflow: hidden;
    touch-action: none;
    pointer-events: none;
  }
}

* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-fore);
}

main.content {
  display: flex;
  flex-direction: column;
  padding: 48px 15%;
  margin-top: 56px;
  gap: 32px;
}

p,
a,
span,
button,
input {
  font: 1rem/1.5 arial;
}

li {
  overflow-x: visible;
  color: inherit;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline-start: 40px;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  pointer-events: none;
  color: var(--color-fore);
}

h1 {
  font-size: 3.555rem;
}

h2 {
  font-size: 1.777rem;
  font-weight: normal;
}

h3 {
  font-size: 1.333rem;
  font-weight: normal;
}

img {
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.loaded {
    opacity: 1;
  }
}

section {
  width: 100%;
}



/********************************************** Classes **********************************************/
.sr-only {
  position: absolute;
  left: -100000px;

  &:focus-visible {
    position: relative;
    left: 0;
  }
}



/********************************************** Buttons **********************************************/
.primary-btn {
  display: flex;
  width: max-content;
  padding: 0.5rem 1rem;
  background: var(--color-bg);
  border-radius: 1000px;
  transition: background 0.1s ease-in-out;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  &:hover {
    background-color: var(--color-grey);
  }
}

.secondary-btn {
  display: flex;
  padding: 0.5em;
  border-radius: 0.5em;
  width: max-content;
  transition: all 0.1s ease-in-out;
  
  &:hover {
    background: var(--color-bg);
    color: var(--color-fore);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}



/********************************************** Header **********************************************/
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
  height: 56px;
  width: 100%;
  overflow-y: visible;
  overflow-x: visible;
  color: var(--color-fore);
  background: var(--color-bg);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-bg);
  z-index: 5;

  &>.logo {
    display: flex;
    gap: 32px;
    align-items: center;
    width: fit-content;
    height: 100%;

    &>a {
      height: 100%;
      display: flex;
      align-items: center;

      &>img {
        height: 75%;
        object-fit: contain;
      }
    }
  }

  &>nav.large-nav {
    display: flex;
    gap: 32px;
    height: 100%;
    transition: all 0.2s ease-in-out;

    &>.nav-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 100%;
      padding-inline: 1em;
      pointer-events: all;

      &.no-drop {
        display: flex;

        &:hover {
          color: var(--color-grey);
        }
      
        &::after {
          display: none;
          width: 0;
          height: 0;
        }
      }

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        background: url("/Dover-Skills-USA/assets.dev/cheveron.svg") center no-repeat;
        transition: all 0.2s easet-in-out;
        transform: rotate(0deg);
      }

      &.hover::after {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }

    &>.wrapper {
      width: max-content;
      padding-top: 1rem;
      position: fixed;
      top: calc(56px - 0.5rem);
      pointer-events: none;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &.hover {
        opacity: 1;
        pointer-events: all;
      }

      &>.nav-dropdown {
        display: flex;
        width: 100%;
        padding: 1rem;
        background: var(--color-bg);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 0.5rem;
        border: 1px solid var(--color-bg);
        gap: 1rem;
        align-items: center;


        &>img {
          height: 100%;
          aspect-ratio: 1/1;
        }

        &>hr {
          height: 48px;
        }

        &>div {
          display: block;
        }
      }
    }
  }

  &>#menu-btn {
    display: flex;
    position: absolute;
    transform: translateY(-100%);
    right: calc(24px - 0.5rem);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    pointer-events: all;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: var(--color-bg);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }
  }

  &>nav.small-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: -100%;
    top: 56px;
    pointer-events: none;
    width: max-content;
    height: 100vh;
    padding: 1rem;
    border-left: 1px solid var(--color-bg);
    background: var(--color-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: all 0.2s ease-in-out;

    &>div>.secondary-btn {
      opacity: 0.8;
      margin-left: 0.5rem;

      &:nth-of-type(1) {
        margin-top: 0.5rem;
      }

      &:hover {
        opacity: 1;
      }
    }

    &.active {
      right: 0;
    }
  }
}



/********************************************** Hero **********************************************/
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 56px;
  padding: 96px;
  gap: 8px;
}



/********************************************** Programs **********************************************/
#programs {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 100%;
  padding: 48px;
  align-items: center;

  &>div {
    display: flex;
    gap: 32px;
    width: 75%;
    align-items: center;

    &>div.text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      &>p {
        color: var(--color-grey);
      }
    }

    &>div.img {
      width: 100%;
      display: flex;
      padding: 16px;
      border-radius: 2.777rem;
      background: var(--color-bg);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);

      &>img {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: calc(2.777rem - 16px);
      }
    }
  }
}



/********************************************** Program Pages **********************************************/
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#video {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 16px;
  background: var(--color-bg);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 2.777rem;

  &>video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: calc(2.777rem - 16px);
  }
}

#details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    &>p,
    &>ul {
      color: var(--color-grey);
    }
  }
}



/********************************************** Instructors Link **********************************************/
#instructors-link {
  display: flex;
  padding: 48px;
  margin-bottom: 48px;
  align-items: center;
  justify-content: center;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
    border-radius: 2.777rem;
    padding: 32px;
    background: var(--color-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}



/********************************************** Instructors Page **********************************************/
#instructor-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  
  &>div {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 16px;
    align-items: center;
    
    &>img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 1000px;
      background: var(--color-bg);
    }
  }
}

#instructor-details {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &>p {
      color: var(--color-grey);
    }
  }

  &>.classes>.classes-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    color: var(--color-grey);

    &>div {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &>ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: var(--color-grey);
      }
    }
  }
}



/********************************************** Footer **********************************************/
footer {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  background: var(--color-bg);
  border-top: 1px solid var(--color-bg);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  gap: 32px;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    overflow-x: visible;

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      width: max-content;

      &>h2 {
        transform: translateX(0.5rem);
      }

      &>.info {
        transform: translateX(0.5rem);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &>a {
      color: var(--color-grey);
      display: flex;
      gap: 8px;

      &>i {
        color: inherit;
      }
    }
  }
}






/********************************************** Screen Sizes **********************************************/
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  main.content {
    padding: 48px 24px;
  }

  h1 {
    font-size: 2.5rem;
  }

  header {
    display: flex;
    padding-inline: 24px;

    &>.logo {
      position: absolute;
    }

    &>nav.large-nav {
      opacity: 0;
      transform: translateY(-100%);
      pointer-events: none;
    }

    &>#menu-btn {
      transform: translateY(0%);
      pointer-events: all;
    }

    &>nav.small-nav {
      pointer-events: all;
    }
  }

  #programs {
    align-items: flex-start;
    padding: 24px;
    justify-content: center;
    gap: 64px;
  
    &>div {
      gap: 24px;
      flex-direction: column;
      width: 100%;

      &:nth-of-type(1) {
        margin-top: -48px;
      }

      &>.img {
        order: -1;
      }
    }
  }

  #hero {
    padding-inline: 24px;
  }

  #instructors-link {
    padding: 24px;
  
    &>div {
      gap: 16px;
      width: 100%;
    }
  }

  #instructor-images {
    gap: 24px;
    
    &>div {
      width: 25%;
    }
  }

  #instructor-details {
    display: flex;
  
    &>.classes>.classes-content {
      column-gap: 24px;
  
      &>div {
        width: 100%;
      }
    }
  }

  footer {
    padding: 24px;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 48px;
  
    &>div {
      width: 100%;
    }
  }
}